In [1]:
import pandas as pd
import numpy as np

In [4]:
# Read datasets
outflow_data = pd.read_parquet("ucsd-outflows.pqt")
inflow_data = pd.read_parquet("ucsd-inflows.pqt")

In [5]:
inflow_data

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

# Consumer-level Transactional Statistics

In [10]:
# Total transaction amount per consumer
total_inflow_per_consumer = inflow_data.groupby('prism_consumer_id')['amount'].sum()

# Average transaction amount per consumer
average_inflow_per_consumer = inflow_data.groupby('prism_consumer_id')['amount'].mean()

# Number of transactions per consumer
transactions_count_per_consumer = inflow_data.groupby('prism_consumer_id')['amount'].count()

In [11]:
# Combine statistics into a summary dataframe for display
consumer_stats = pd.DataFrame({
    'total_inflow': total_inflow_per_consumer,
    'average_inflow': average_inflow_per_consumer,
    'transaction_count': transactions_count_per_consumer
}).reset_index()

consumer_stats

      prism_consumer_id  total_inflow  average_inflow  transaction_count
0                     0     110312.43     1212.224505                 91
1                     2     349639.03     3094.150708                113
2                     4     462557.90     3043.144079                152
3                     7     250214.09     1939.644109                129
4                     9     215342.01      574.245360                375
...                 ...           ...             ...                ...
2969               5930     127177.11      605.605286                210
2970               5935      13640.13      164.338916                 83
2971               5939      33882.65      372.336813                 91
2972               5940      67452.46      153.301045                440
2973               5941      58633.91      197.420572                297

[2974 rows x 4 columns]

In [12]:
# Consumer with the highest total transaction amount
highest_total_consumer = total_inflow_per_consumer.idxmax()
highest_total_amount = total_inflow_per_consumer.max()

highest_total_consumer, highest_total_amount

(37, 10325161.09)

In [15]:
# Identify major sources of income based on the category and memo fields
income_sources = inflow_data.groupby('category')['amount'].sum()

# Sort to identify major income sources
major_income_sources = income_sources.sort_values(ascending=False)

major_income_sources

category
EXTERNAL_TRANSFER        81586232.14
DEPOSIT                  66602343.60
PAYCHECK                 54018520.29
MISCELLANEOUS            52594312.59
SELF_TRANSFER            48301522.92
PAYCHECK_PLACEHOLDER     35706161.73
OTHER_BENEFITS           12175837.46
INVESTMENT_INCOME         6887278.35
TAX                       5619601.78
REFUND                    5406440.27
LOAN                      4231710.73
SMALL_DOLLAR_ADVANCE      1906595.47
UNEMPLOYMENT_BENEFITS     1610419.79
INSURANCE                  338514.02
Name: amount, dtype: float64